
<h1> Top stories from BBC <h1>


<% @stories.each do |story| %>

<% if story.image.nil? %>

<% # do nothing %>

<% else %>
<div> 
	<h3><%= story.name %></h3>
	<p><%= story.summary %></p>
	<a href = "<%= story.url %>" >
		<img src="<%= story.image %>" />
	</a>
</div>

<% end %>

<% end %>
